body {
  font-family: "Lato";
  display: block;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-content: center;
  justify-self: center;
}
.calcCompleta {
  border: solid 1px black;
  border-radius: 0.5em;

  width: 80vw;
  min-width: 300px;
  max-width: 700px;
  background-color: #f2f2f2;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
}
input {
  border-style: none;
  background-color: #fafbfc;
  width: 11em;
  height: 2em;
  border-radius: 0.5em;
}
input:hover {
  background-color: #d6dae0;
}

button {
  background-color: #fafbfc;
  width: 4.5em;
  height: 4.5em;
  border-style: none;
  margin: 0.1em;
  border-radius: 0.5em;
}
button:hover {
  background-color: #d6dae0;
}
